div#control-container {
    display: grid;
    /* flex-flow: row wrap; */
    /* width: 100%; */
    width: 1700px;
    height: 100%;
    gap: 1em;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

body {
    position: relative;
    margin: 0;
    background: rgb(32, 32, 32);
    height: 100%;
    padding-top: 1em;
    padding-left: 4em;
}

.main-controls {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    align-items: center;
    gap: 1em;
}

.category-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em repeat(100, 1.5em);
    gap: 0.5em;
    /* gap: 1em; */
    /* width: 12em; */
}

.category-column *:first-child {
    grid-column: 1 / 3;
}

.category-column .audio-button {
    width: 10em;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.audio-button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    color: black;
    font-weight: bold;
}

.audio-button:not([playing]) {
    background-color: #a0f0bb;
}

.audio-button.loop-mode[active] {
    filter: brightness(150%);
}

.audio-button p {
    min-width: 0;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis ellipsis;
    overflow: hidden;
    text-align: center;
}

.column-title {
    color: white;
}